<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Tupypédia - Adicionar</title>
    <link rel="stylesheet" href="/styles/addform.css">
  </head>
  <body>
        <nav class="navbar">
     <div class="nav-container">
          <span class="logo">TUPYPÉDIA</span>
         <div class="links">
             <a href="./inOrder">Em ordem</a>
             <a href="./posOrdem">Pós-ordem</a>
             <a href="./preOrder">Pré-ordem</a>
             <a href="adiciona">Adicionar palavras</a>
             <a href="remove">Remover palavras</a>
         </div>
    </div>
   </nav>
   <div class="banner">
      <div class="search">
        <form action="/buscaPalavra" method="get">
        <input type="text" placeholder="Pesquise uma palavra" name="buscaPalavra">
        <button type="submit" class="btn-nav">Pesquisar</button>
        </form>
      </div>
   </div>
    <div class="container">
      <form id="adicionarForm">
        <label for="palavra">Palavra:</label>
        <input type="text" id="palavra" name="palavra" required />
        <label for="valor">Significado:</label>
        <input type="text" id="valor" name="valor" required />
        <button type="submit">Adicionar</button>
      </form>
    </div>
    <script>
      document.getElementById("adicionarForm").onsubmit = function (e) {
      e.preventDefault(); const palavra =
      document.getElementById("palavra").value; const valor =
      document.getElementById("valor").value; fetch("/adicionar", { method:
      "POST", headers: { "Content-Type": "application/json", }, body:
      JSON.stringify({ palavra, valor }), }) .then((response) =>
      response.text()) .then((data) => { alert(data); }) .catch((error) => {
      console.error("Erro:", error); }); };
    </script>
  </body>
</html>