<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tupypédia - Busca</title>
</head>
<body>
     <nav class="navbar">
     <div class="nav-container">
          <span class="logo">TUPYPÉDIA</span>
         <div class="links">
             <a href="./inOrder">Em ordem</a>
             <a href="./posOrdem">Pós-ordem</a>
             <a href="./preOrder">Pré-ordem</a>
         </div>
    </div>
   </nav>
   <div class="banner">
      <div class="search">
        <form action="/buscaPalavra" method="get">
        <input type="text" placeholder="Pesquise uma palavra" name="buscaPalavra">
        <button type="submit" class="btn-nav">Pesquisar</button>
        </form>
      </div>
   </div>
   <div class="container">
   <div class="porLetra"> 
       <a href="buscaLetra?busca=A">A</a>
        <a href="buscaLetra?busca=B">B</a>
        <a href="buscaLetra?busca=C">C</a>
        <a href="buscaLetra?busca=D">D</a>
        <a href="buscaLetra?busca=E">E</a>
        <a href="buscaLetra?busca=I">I</a>
        <a href="buscaLetra?busca=J">J</a>
        <a href="buscaLetra?busca=K">K</a>
        <a href="buscaLetra?busca=M">M</a>
        <a href="buscaLetra?busca=N">N</a>
        <a href="buscaLetra?busca=O">O</a>
        <a href="buscaLetra?busca=P">P</a>
        <a href="buscaLetra?busca=Q">Q</a>
        <a href="buscaLetra?busca=R">R</a>
        <a href="buscaLetra?busca=S">S</a>
        <a href="buscaLetra?busca=T">T</a>
        <a href="buscaLetra?busca=U">U</a>
        <a href="buscaLetra?busca=V">V</a>
        <a href="buscaLetra?busca=X">X</a>
        <a href="buscaLetra?busca=Y">Y</a>
   </div>
   <!--Render da rota buscar por palavra-->
   {{#if found}}
    <div class="significado">{{palavras}}</div>
    {{/if}}
    {{#if notFound}}
    <div class="not-found">
        <div class="img-found"><img src="/img/what.png" alt="" width="400" height="400"></div>
        <div class="interr"><span>?</span></div>
        <div class="message-found">
            {{message}}
        </div>
        </div>
    {{/if}}

</div>
</body>
</html>