<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tupypedia - Documentation</title>
    <link rel="stylesheet" href="/styles/docs.css">
</head>

<body>
    <main>
        <div class="all">
            <aside>
                <img src="/img/tupylogo.png" alt="" width="100" height="100">
                <span>Tupypedia v1.0 API Documentation</span>
            </aside>
            <content>
                <h3>DIAGRAMA DE INTERAÇÃO DA API TUPYPEDIA</h3>
                <img src="/docs/apidiagrama.svg" alt="">
            </content>

        </div>

    </main>
</body>

</html>