<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Tupypédia - Home</title>
    <link rel="stylesheet" href="/styles/stylehome.css" />
    <link rel="stylesheet" href="styles/styles.css">
  </head>
  <body>
    <nav class="navbar">
      <div class="nav-container">
        <div class="logo-img">
          <img src="/img/tupylogo.png" alt="" width="90" height="90" />
        </div>
        <span class="logo">
          TUPYPÉDIA</span>
        <div class="links">
          <a href="https://github.com/imrooteodoro/tupy-pedia">Github</a>
          <a href="/docs">Documentação</a>
        </div>
      </div>
    </nav>

      <div class="middlesun">
        
      </div>
    <div class="parallax">
          <div class="sun"> 

             <div class="about">
               
    </div>

     <div class="about">
                <div class="text-about">
                    <h3 style="background-color: black;">TUPYPÉDIA</h3>
                <p>TupyPédia é uma api escrita em NodeJs(Express) de dicionário de linguas Tupi-Guarani, desenvolvido como projeto da disciplina Estrutura de dados II. O principal objetivo do projeto era utilizar 
                  uma arvore binária de busca(bst) para construir o dicionário.
                </p>
                <br>
                <br>
                <h4 style="background-color: black;margin-top:1em;margin-bottom:-2em;">Diagrama de interação da API.</h4>
                <img src="/docs/diagrama.svg" width="400" height="400" alt="">
                <button onclick="window.location.href='/inOrder'">Usar o dicionário</button>
                </div>
     </div>
    </div>
    </div>
                    <div class="parallax"></div>

 <footer>
              <div class="copyright" style="text-align: center;">
                  <div class="container">
                      <div class="row">
                          <div class="col-12">
                              <h3>Todos os direitos reservados. Tupypédia©, <span>2024</span>.</h3>
                          </div>
                      </div>
                  </div>
              </div>
          </footer>
  </body>
</html>