<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Tupypédia - Home</title>
    <link rel="stylesheet" href="/styles/stylehome.css" />
    <link rel="stylesheet" href="styles/styles.css">
  </head>
  <body>
    <nav class="navbar">
      <div class="nav-container">
        <div class="logo-img">
          <img src="/img/tupylogo.png" alt="" width="90" height="90" />
        </div>
        <span class="logo">
          TUPYPÉDIA</span>
        <div class="links">
          <a href="./inOrder">Em ordem</a>
          <a href="./posOrdem">Pós-ordem</a>
          <a href="./preOrder">Pré-ordem</a>
          <a href="adiciona">Adicionar palavras</a>
          <a href="remove">Remover palavras</a>
        </div>
      </div>
    </nav>
    <div class="parallax">
             <div class="about">
               
    </div>

     <div class="about">
                <div class="text-about">
                    <h3>TUPYPÉDIA</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                    Modi quam illo voluptatum architecto molestiae doloribus
                     voluptatibus excepturi. At debitis nihil nesciunt perspiciatis. 
                     Suscipit quae repudiandae magni, molestias eaque quia animi?</p>
                </div>
       
    </div>
    <div class="about">

    </div>

    <div class="about">

    </div>
    </div>
    <div class="parallax1">
      
    </div>

  </body>
</html>