<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Dicionário Tupi-Guarani</title>
</head>
<nav class="navbar">

    <div class="nav-container">
          <span class="logo">TUPYPÉDIA</span>
         <div class="links">
             <a href="./inOrder">Em ordem</a>
             <a href="./posOrdem">Pós-ordem</a>
             <a href="./preOrder">Pré-ordem</a>
         </div>
    </div>
</nav>
<body>
    
   <div class="banner">
      <div class="search">
        <form action="/buscaPalavra" method="get">
        <input type="text" placeholder="Pesquise uma palavra" name="buscaPalavra">
        <button type="submit" class="btn-nav">Pesquisar</button>
        </form>
      </div>
   </div>
   <div class="container">
   <div class="porLetra"> 
        <a href="#">A</a>
        <a href="#">B</a>
        <a href="#">C</a>
        <a href="#">D</a>
        <a href="#">E</a>
        <a href="#">I</a>
        <a href="#">J</a>
        <a href="#">K</a>
        <a href="#">M</a>
        <a href="#">N</a>
        <a href="#">O</a>
        <a href="#">P</a>
        <a href="#">Q</a>
        <a href="#">R</a>
        <a href="#">S</a>
        <a href="#">T</a>
        <a href="#">U</a>
        <a href="#">V</a>
        <a href="#">X</a>
        <a href="#">Y</a>
   </div>
    {{#each palavras as |palavra|}}
        <div>
            <h2>{{palavra.key}}:</h2>
            <p>{{palavra.value}}</p>
        </div>
    {{/each}}
    </div>
</body>
</html>
