<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Dicionário Tupi-Guarani</title>
    

</head>
<body>
    <a href="./inOrder" class="mr-auto">Em ordem</a>
    <a href="./posOrdem">Pós-ordem</a>
    <a href="./preOrder">Pré-ordem</a>

   <dir> 
     <h1>Dicionário Tupi-Guarani</h1>


   </dir>
    
    
    {{#each palavras as |palavra|}}
        <div>
            <h2>{{palavra.key}}:</h2>
            <p>{{palavra.value}}</p>
        </div>
    {{/each}}
</body>
</html>
