<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link rel="stylesheet" href="/styles/styles.css" />
    <title>Tupypédia - Dicionário</title>
  </head>
  <nav class="navbar">

    <div class="nav-container">

      <div class="logo-img">
        <img src="/img/tupylogo.png" alt="" width="90" height="90" />
      </div>
      <span class="logo">
        TUPYPÉDIA</span>
      <div class="links">
        <a href="./inOrder">Em ordem</a>
        <a href="./posOrdem">Pós-ordem</a>
        <a href="./preOrder">Pré-ordem</a>
        <a href="adiciona">Adicionar</a>
        <a href="remove">Remover</a>
      </div>
    </div>
  </nav>
    <div class="banner">
      <div class="search">
        <form action="/buscaPalavra" method="get">
          <input
            type="text"
            placeholder="Pesquise uma palavra"
            name="buscaPalavra"
          />
          <button type="submit" class="btn-nav">Pesquisar</button>
        </form>
      </div>
    </div>
    <div class="container">
      <div class="porLetra">
        <a href="buscaLetra?busca=A">A</a>
        <a href="buscaLetra?busca=B">B</a>
        <a href="buscaLetra?busca=C">C</a>
        <a href="buscaLetra?busca=D">D</a>
        <a href="buscaLetra?busca=E">E</a>
        <a href="buscaLetra?busca=I">I</a>
        <a href="buscaLetra?busca=J">J</a>
        <a href="buscaLetra?busca=K">K</a>
        <a href="buscaLetra?busca=M">M</a>
        <a href="buscaLetra?busca=N">N</a>
        <a href="buscaLetra?busca=O">O</a>
        <a href="buscaLetra?busca=P">P</a>
        <a href="buscaLetra?busca=Q">Q</a>
        <a href="buscaLetra?busca=R">R</a>
        <a href="buscaLetra?busca=S">S</a>
        <a href="buscaLetra?busca=T">T</a>
        <a href="buscaLetra?busca=U">U</a>
        <a href="buscaLetra?busca=V">V</a>
        <a href="buscaLetra?busca=X">X</a>
        <a href="buscaLetra?busca=Y">Y</a>
      </div>
      {{#each palavras as |palavra|}}
        <div>
          <h2 class="palavra">{{palavra.key}}:</h2>
          <p class="valor">{{palavra.value}}</p>
        </div>
      {{/each}}
    </div>
  </body>
</html>