<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Dicionário Tupi-Guarani</title>
</head>
<body>
    <h1>Dicionário Tupi-Guarani</h1>
    
    {{#each palavras as |palavra|}}
        <div>
            <h2>{{palavra.key}}:</h2>
            <p>{{palavra.value}}</p>
        </div>
    {{/each}}
</body>
</html>
