@import url('styles.css');
.nav-container{
    margin-bottom: 10em;
}


.parallax{
    width:100%;
    height: 100vh !important;
    background-image: url('../img/background1.webp'); opacity:1;
    background-attachment: fixed;
    background-size: cover;
}


.parallax1{
    width:100%;
    height: 100vh !important;
    background-image: url('../img/parallax2.webp');
    background-attachment: fixed;
    background-size: cover;

}

.about{
    height: 200px;
    gap: 3em;
    background-color: transparent;
    margin: auto;
    text-align: center;
    width:60%;
}

.text-about{
    display: flex;
    text-align: justify;
    flex-direction: column;
    align-items: center;
    background-color: rgb(4, 80, 17, 0.7);
    border-radius: 3px 4px;
}

button{
    background-color:#fff;
    text-transform: uppercase;
    color:var(--secondary-color);
    padding:20px;
    border: solid 2px var green;
    border-radius: 3px;
}
button:hover{
    background-color: var(--secondary-color);
    transition: 400ms;
    color: #fff;
}

