
.nav-container{
    margin-bottom: 10em;
}

.sun{
    z-index: 1;
    width: 100%;
    height: 100%;
    background-color: rgba(11, 2, 30, 0.8);
}


.parallax{
    width:100%;
    height: 100vh !important;
    background-image: url('../img/background1.webp'); opacity:1;
    background-attachment: fixed;
    background-size: cover;
}

.parallax1{
    width:100%;
    height: 100vh !important;
    background-image: url('../img/parallax2.webp');
    background-attachment: fixed;
    background-size: cover;

}

.about{
    height: 200px;
    gap: 3em;
    background-color: transparent;
    margin: auto;
    text-align: center;
    width:60%;
}

.text-about{
    background-color: rgb(4, 80, 17, 0.4);
    border-radius: 3px 4px;
}

